body
    background-color: hsl(210, 46%, 95%)
    font-family: 'Manrope', sans-serif

.container 
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  

  img 
    border-radius: 10px
    width: 20%
    height: 30%


.content
    background-color: white
    border-radius: 10px
    padding: 20px
    width: 30%


.profile
  display: flex
  justify-content: space-around
  align-items: center
  gap: 4px


  img
    border-radius: 50%
    width: 50px
    height: 50px

.info
  display: flex
  align-items: center
  gap: 20px

  
.share-icon
  cursor: pointer
  width: 10px
  height: 10px
  border-radius: 50%
